@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

nav {
  padding: 10px;

  @media (min-width: 600px) {
    padding: 20px;
  }

  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }

  a {
    position: relative;
    color: #000;
    text-decoration: none;
  }

  a:hover {
    color: #000;
  }

  a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }

  a:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }
}

nav.flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;
    align-items: center;
  }

  ul li {
    margin-right: 20px;

    &:last-child {
      margin-right: 0px;
    }
  }
}

#wrapper {
  text-align: justify;
  margin: 2em auto;
  max-width: 980px;
  padding: 10px;
}

.introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2em;
}

.whoiam {
  width: 180x;
  height: 180px;
  border-radius: 100rem;
}

.darkBackground {
  background-color: #191919;
  color: white;
  padding-bottom: 1rem;
}

.thinner {
  font-size: 18px;
  font-weight: 500;
}

.thin {
  padding-top: 1rem;
  font-size: 26px;
  letter-spacing: 8px;
  font-weight: 400;
  text-transform: uppercase;
}

.thinner {
  font-size: 16px;
  font-weight: 600;
}

.thinnest {
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.flexskills {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
