@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
html,
body {
  overflow-x: hidden;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

nav ul.open {
  height: auto;
  background-color: #f7f7f7;
  padding-bottom: 2px;
  position: absolute;
  top: 40px;
  width: 100%;
}

nav {
  position: fixed;
  width: 100%;
  padding: 10px;
  background-color: #f7f7f7;
}

@media (max-width: 480px) {
  nav {
    padding: 0px;
  }
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

@media (max-width: 480px) {
  nav ul {
    overflow: hidden;
    display: block;
    text-align: center;
    margin: 0 auto;
    height: 0;
  }
}

nav ul li {
  margin-right: 25px;
}

@media (max-width: 480px) {
  nav ul li {
    margin: unset;
    margin-bottom: 10px;
  }
}

nav ul li:last-child {
  margin-right: 0px;
}

nav ul li:first-child {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

nav a {
  font-size: 17px;
  position: relative;
  color: #585858;
  text-decoration: none;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

nav a:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

@media (max-width: 480px) {
  .burger-nav {
    display: block;
    height: 50px;
    width: 100%;
    background: url(../img/menu.svg) no-repeat 98% center;
    background-color: #f7f7f7;
    cursor: pointer;
    position: fixed;
  }
}

#main-container {
  margin: 2em auto;
  max-width: 1080px;
  padding: 30px 30px 0px 30px;
}

#introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 50px 0px;
}

@media (max-width: 480px) {
  #introduction {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

#portrait {
  width: 200px;
  height: 200px;
  border-radius: 6em;
}

@media (max-width: 480px) {
  #portrait {
    width: 300px;
    height: 300px;
    border-radius: 12em;
    margin-top: 1em;
  }
}

#intro_paragraph {
  font-size: 18px;
  line-height: 1.8;
  padding-left: 2em;
}

@media (max-width: 480px) {
  #intro_paragraph {
    margin-top: 0px;
    padding-top: 1em;
  }
}

.darkrow {
  background-color: #383e42;
  color: white;
  margin: 0 -9999rem;
  /* add back negative margin value */
  padding: 0.25rem 9999rem;
  padding-bottom: 25px;
}

.heading_spaced {
  font-size: 38px;
  letter-spacing: 10px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.subject_title {
  font-size: 20px;
  font-weight: 500;
}

.paragraph_text {
  font-size: 15px;
  font-weight: 400;
  margin-left: 22px;
  padding: 0;
}

.flexbox_skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flexbox_skills a {
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.flexbox_skills a:hover {
  color: #c5c5c5;
}

.flexbox_skills li {
  margin-top: 4px;
}

@media (max-width: 950px) {
  .flexbox_skills {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.flexbox_skills .box-1 {
  width: 30%;
}

@media (max-width: 950px) {
  .flexbox_skills .box-1 {
    width: 100%;
  }
}

.flexbox_skills .box-2 {
  width: 30%;
}

@media (max-width: 950px) {
  .flexbox_skills .box-2 {
    width: 100%;
  }
}

.flexbox_skills .box-3 {
  width: 30%;
}

@media (max-width: 950px) {
  .flexbox_skills .box-3 {
    width: 100%;
  }
}

#footer {
  margin-top: 3rem;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: lighter;
  text-align: center;
}

a.img-link {
  text-decoration: none;
}

#githublogo {
  max-width: 32px;
  max-height: 32px;
  margin-right: 10px;
}

#linkedinlogo {
  margin-left: 10px;
  width: 37.64px;
  height: 32px;
}

.company_logo {
  width: 20%;
  height: auto;
}

.product_screengrab {
  width: 100%;
  height: auto;
}

#contactform {
  -webkit-box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
          box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  background-color: #fff;
  padding: 1em 2em;
  margin-top: 2em;
}

#contactform h1 {
  font-size: 24px;
}

#contactform .form-group {
  margin-bottom: 1.5em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#contactform .form-label {
  font-size: 0.75em;
  color: var(--font-color);
  display: block;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

#contactform .form-control {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  border-color: #ccc;
  border-style: none none solid none;
  width: 100%;
  font-size: 1.25em;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

#contactform .form-control::-webkit-input-placeholder {
  color: #aaa;
}

#contactform .form-control:-ms-input-placeholder {
  color: #aaa;
}

#contactform .form-control::-ms-input-placeholder {
  color: #aaa;
}

#contactform .form-control::placeholder {
  color: #aaa;
}

#contactform .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: var(--font-hover-color);
  outline: none;
}

#contactform .form-group:focus-within {
  -webkit-transform: scale(1.02, 1.02);
          transform: scale(1.02, 1.02);
}

#contactform .form-control:invalid:focus {
  border-color: red;
}

#contactform .form-control:valid:focus {
  border-color: green;
}

#contactform .btn {
  background-color: #383e42;
  border-color: #343a40;
  color: white;
  padding: 7px 14px;
  border: 1px solid transparent;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}

#contactform .btn:hover {
  background-color: #383e42ea;
}

#contactform textarea {
  resize: none;
}

#contactform .focused > .form-label {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}
/*# sourceMappingURL=style.css.map */