@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

html,
body {
  overflow-x: hidden;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

nav ul.open {
  height: auto;
  background-color: #f7f7f7;
  padding-bottom: 10px;
}

nav {
  position: fixed;
  width: 100%;
  padding: 10px;
  background-color: #f7f7f7;

  @media (max-width: 480px) {
    padding: 0px;
  }

  ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0px;
    padding: 0px;

    @media (max-width: 480px) {
      overflow: hidden;
      display: block;
      text-align: center;
      margin: 0 auto;
      height: 0;
    }

    li {
      margin-right: 25px;

      @media (max-width: 480px) {
        margin: unset;
        margin-bottom: 10px;
      }

      &:last-child {
        margin-right: 0px;
      }

      &:first-child {
        flex-grow: 1;
      }
    }
  }

  a {
    font-size: 15px;
    position: relative;
    color: #585858;
    text-decoration: none;
  }

  a:hover {
    color: #000;
  }

  a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }

  a:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }
}

.burger-nav {
  @media (max-width: 480px) {
    display: block;
    height: 40px;
    width: 100%;
    background: url(../img/menu.svg) no-repeat 98% center;
    background-color: #f7f7f7;
    cursor: pointer;
  }
}

#main-container {
  margin: 2em auto;
  max-width: 1080px;
  padding: 30px;
}

#introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2em;
  padding: 50px 0px;
}

#portrait {
  width: 200px;
  height: 200px;
  border-radius: 6em;
}

#intro_paragraph {
  font-size: 16px;
  line-height: 1.8;
}

.darkrow {
  background-color: #383e42;
  color: white;
  margin: 0 -9999rem;
  /* add back negative margin value */
  padding: 0.25rem 9999rem;
  padding-bottom: 25px;
}

.heading_spaced {
  font-size: 36px;
  letter-spacing: 10px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.subject_title {
  font-size: 17px;
  font-weight: 600;
}

.paragraph_text {
  font-size: 13px;
  font-weight: 400;
  margin-left: 22px;
  padding: 0;
}

.flexbox_skills {
  display: flex;
  justify-content: space-between;

  a {
    color: white;
    transition: 0.3s;
  }

  a:hover {
    color: rgb(197, 197, 197);
  }

  li {
    margin-top: 4px;
  }

  @media (max-width: 950px) {
    flex-wrap: wrap;
  }

  .box-1 {
    width: 30%;

    @media (max-width: 950px) {
      width: 100%;
    }
  }

  .box-2 {
    width: 30%;

    @media (max-width: 950px) {
      width: 100%;
    }
  }

  .box-3 {
    width: 30%;

    @media (max-width: 950px) {
      width: 100%;
    }
  }
}

#footer {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: lighter;
  text-align: center;
}

a.img-link {
  text-decoration: none;
}

#githublogo {
  max-width: 32px;
  max-height: 32px;
  margin-right: 10px;
}

#linkedinlogo {
  margin-left: 10px;
  width: 37.64px;
  height: 32px;
}
