@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

// General styling applied to the page structure.

html,
body {
  overflow-x: hidden;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// END

// CSS applied to navigation.

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;

  @media (min-width: 600px) {
    padding: 20px;
  }

  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }

  a {
    position: relative;
    color: #000;
    text-decoration: none;
  }

  a:hover {
    color: #000;
  }

  a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }

  a:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }
}

.navbar {
  display: flex;
  justify-content: space-between;

  ul {
    display: flex;
  }

  ul li {
    margin-right: 25px;

    &:last-child {
      margin-right: 0px;
    }
  }
}

// END

// Main Content CSS

#introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2em;
  margin-bottom: 25px;
}

#portrait {
  width: 200px;
  height: 200px;
  border-radius: 6em;
}

#intro_paragraph {
  font-size: 17px;
  line-height: 1.5;
}

#main-container {
  margin: 2em auto;
  max-width: 1080px;
  padding: 30px;
}

.darkrow {
  background-color: #383e42;
  color: white;
  margin: 0 -9999rem;
  /* add back negative margin value */
  padding: 0.25rem 9999rem;
}

.heading_spaced {
  font-size: 34px;
  letter-spacing: 8px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0px 0px 20px 0px;
}

.subject_title {
  font-size: 18px;
  font-weight: 600;
}

.paragraph_text {
  font-size: 13.5px;
  font-weight: 400;
  margin-left: 22px;
  padding: 0;
}

.flexbox_skills {
  display: flex;
  justify-content: space-between;

  a {
    color: white;
    transition: 0.3s;
  }

  a:hover {
    color: rgb(197, 197, 197);
  }

  li {
    margin-top: 4px;
  }

  @media (max-width: 950px) {
    flex-wrap: wrap;
  }

  .box-1 {
    width: 30%;

    @media (max-width: 950px) {
      width: 100%;
    }
  }

  .box-2 {
    width: 30%;

    @media (max-width: 950px) {
      width: 100%;
    }
  }

  .box-3 {
    width: 30%;

    @media (max-width: 950px) {
      width: 100%;
    }
  }
}

#footer {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: lighter;
  text-align: center;
}

a.img-link {
  text-decoration: none;
}

#githublogo {
  max-width: 32px;
  max-height: 32px;
  margin-right: 10px;
}

#linkedinlogo {
  margin-left: 10px;
  width: 37.64px;
  height: 32px;
}
